<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div style="margin: 5%">
        <p>
          <b>🔭 Hi, I'm Francesc. I'm a self-taught enthusiast in data science and an expert in AI, residing in Barcelona.</b>
        </p>
        <hr></hr>
        <p>I possess over a decade of experience effectively implementing various artificial intelligence projects at diverse stages,
             concentrating on distinct disciplines such as machine and deep learning, computer vision, 
             or natural language processing (NLP).</p>

        <p>During a year-long sabbatical, I focused on immersing myself in the most recent trends and algorithms within AI. 
          My primary concentration was on exploring and developing various business use cases associated with Large Language Models (LLMs). 
          Additionally, within this timeframe, I successfully attained a Master's degree in Data Science.</p>
        <p>Previously, I headed the technology showroom at NTT DATA's Innovation Lab in Barcelona. 
          My role involved the integration, development and implementation of various proof-of-concepts (PoC). 
            I notably contributed to the "Branch of the Future" or "Phygital Space" initiative, 
            where I concentrated on crafting numerous Proof of Concepts (PoCs) centred around data analytics, 
            machine learning, computer vision, and natural language processing (NLP).</p>
        <p>Also, during my time as the CTO at the Innova Systems Group, our team attained
           considerable commercial success by deploying over 2000 license plate readers 
           in the domains of parking management and traffic safety.</p>
        <hr></hr>
        <p>I encourage you to explore my portfolio and CV to gain a deeper insight into my projects and accomplishments! </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://drive.google.com/file/d/1doFRcuG2oPgkoUii2lt4YTMG90rJfKeO/view?usp=sharing" target="_blank" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> CV
        </a>
      </div>
    </div>
  </div>
</section>
